<div id="board">
  <div class="form-group">
    <form method="post" action="reset_game">
      <input class="btn btn-danger" type="submit" value="Reset Game"></button>
    </form>
  </div>

  <% turn = @game.board.decoding_grid.length %>
  <% @game.board.decoding_grid.reverse.each_with_index do | row, i| %>
    <div class="row">
      <span class="turn-display"><%= turn %></span>
      <% row.each do |cell| %>
          <div class="peg <%=settings.colors[cell.value]%>"></div>
      <% end %>
      <% @game.board.key_grid.reverse[i].each do |key_cell| %>
        <span class="key-peg <%=settings.key_peg_values[key_cell.value]%>"></span>
      <% end %> 
    </div>
    <% turn -= 1 %>
  <% end %>
</div>
