<div id="board">
  <% @game.board.decoding_grid.each_with_index do | row, i| %>
    <% row.each do |cell| %>
    <!--
      <div class="peg <%=settings.colors[cell.value]%>"></div>
      -->
    <% end %>
  <% end %>
</div>