<form id='code-picker' method="post">
  <% @game.code_length.times do |num| %>
    <select name="code-<%=num+1%>" required>
      <option value="0" disabled selected>-</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
  <% end %>
  <input type="submit" value="Submit"></input>
</form>