<form id='code-picker' method="post">
  <div class="form-row">
    <% @game.code_length.times do |num| %>
      <div class="form-group col-md-3">
        <select class="form-control" name="code-<%=num+1%>" required>
          <option value="0" disabled selected>-</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>
    <% end %>
  </div>
  <input class="btn btn-primary"type="submit" value="Submit"></input>
</form>