<form id='color-picker'>
  <div>
    <input type="button" class="peg red">
    <input type="button" class="peg green">
    <input type="button" class="peg blue">
    <input type="button" class="peg yellow">
    <input type="button" class="peg brown">
    <input type="button" class="peg orange">
    <input type="button" class="peg black">
    <input type="button" class="peg white">
  </div>
  <div>
    <span class="peg empty"></span>
    <span type="button" class="peg empty"></span>
    <span type="button" class="peg empty"></span>
    <span type="button" class="peg empty"></span>
    <input type="submit" value="Submit"></input>
  </div>
</form>