<form method="post">
  <h3>Setup</h3>
  <label for="turns">Number of turns</label>
  <input id="turns" type="number" value="12" name="turns">
  <label for="code-master">Code Master</label>
  <input id="code-master" type="radio" value="2" name="role"></input>
  <label for="code-breaker">Code Breaker</label>
  <input id="code-breaker" type="radio" value="1" name="role" checked></input>
  <input type="submit" value="Start Game"></input>
</form>