<html lang="en">
<head>
  <meta charset="utf-8">
  <title>mastermind.rb</title>

  <meta name="description" content="Mastermind">
  <meta name="author" content="Robin Unger">
  <link rel="stylesheet" type="text/css" href="<%=url('stylesheets/index.css')%>">
</head>

<body>
  <h1>Mastermind</h1>

  <% unless @game %>
    <%= erb :_setup %>
  <% else %>
    <%= erb :_color_picker %>
    <%= erb :_board %>
  <% end %>


</body>