<html lang="en">
<head>
  <meta charset="utf-8">
  <title>mastermind.rb</title>

  <meta name="description" content="Mastermind">
  <meta name="author" content="Robin Unger">

  <link rel="stylesheet" type="text/css" href="<%=url('stylesheets/index.css')%>">
</head>

<body>
  <h1>Hello mastermind!</h1>
</body>